{% extends 'base.html' %}
{% block content %}

<h5 class="white_text">Time to Battle!</h5>

<h6 class="white_text">Choose your Opponent</h6>
<div class="dropdown">
  <button class="dropbtn">Opponents</button>
  <div class="dropdown-content">
    {% for user in all_users %}

    <span>{{user.id}}</span>
    <a href="{{url_for('chooseOpponent', user_id=user.id)}}">{{user.username}}</a>

    {% endfor %}
  </div>
  <form action="{{url_for('battleOpponent', home=home, opponents_pokemon=opponents_pokemon)}}" method="POST">
    <button type="Submit" class="btn btn-danger">Battle!</button>
  </form>
</div>

<div class="row">
  {% for pokemon in opponents_pokemon %}
  <div class='battlecards'> 
    <a class="card" style="width: 10rem;" href="#">
      <img src="{{pokemon.shiny}}" class="card-img-top" alt="pokemon logo">
      <div class="card-body">
        <h5 class="card-title">{{pokemon.name}}</h5>
        <p class="card-text">Ability: {{pokemon.ability_name}}<br>Base Xp: {{pokemon.base_xp}}<br>HP:
          {{pokemon.hp}}<br>Attack: {{pokemon.attack}}<br>Defense: {{pokemon.defense}}</p>
        <p class="card-text"></p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

<div class="container col-2">
  <strong class="white_text" style="{left: 50%;}"> VS.</strong><strong class="white_text" >{{ winner }}!</strong>
</div>

<div class="row">
  {% for pokemon in home %}

  <div class="battlecards">
    <a class="card" style="width: 10rem;" href="#">
      <img src="{{pokemon.shiny}}" class="card-img-top" alt="pokemon logo">
      <div class="card-body">
        <h5 class="card-title">{{pokemon.name}}</h5>
        <p class="card-text">
          Ability: {{pokemon.ability_name}}<br>
          Base Xp: {{pokemon.base_xp}}<br>
          HP: {{pokemon.hp}}<br>
          Attack: {{pokemon.attack}}<br>
          Defense: {{pokemon.defense}}</p>
          <!-- Pokedex: NOW THE POKEDEX ISN'T SHOWING WHEN I BATTLEOPPONENT ... -->
        <p class="card-text"></p>
      </div>
    </a>
  </div>

  {% endfor %}
</div>




{% endblock %}