{% extends 'base.html' %}
{% block content %}

<h5>Time to Battle!</h5>

<h6>Choose your Opponent</h6>
<div class="dropdown">
    <button class="dropbtn">Opponents</button>
    <div class="dropdown-content">

      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
</div>

{% for pokemon in away %}
<div class = 'row battlecards'>
    <a class="card" style="width: 10rem;" href="#">
        <img src="{{pokemon.shiny}}" class="card-img-top" alt="pokemon logo">
        <div class="card-body">
          <h5 class="card-title">{{pokemon.name}}</h5>
          <p class="card-text">Ability: {{pokemon.ability_name}}<br>Base Xp: {{pokemon.base_xp}}<br>HP:
            {{pokemon.hp}}<br>Attack: {{pokemon.attack}}<br>Defense: {{pokemon.defense}}</p>
          <p class="card-text"></p>
        </div>        
      </a>
</div>
{% endfor %}
<strong> VS.</strong>
{% for pokemon in home %}
<div>
    <a class="card" style="width: 10rem;" href="#">
        <img src="{{pokemon.shiny}}" class="card-img-top" alt="pokemon logo">
        <div class="card-body">
          <h5 class="card-title">{{pokemon.name}}</h5>
          <p class="card-text">Ability: {{pokemon.ability_name}}<br>Base Xp: {{pokemon.base_xp}}<br>HP:
            {{pokemon.hp}}<br>Attack: {{pokemon.attack}}<br>Defense: {{pokemon.defense}}</p>
          <p class="card-text"></p>
        </div>        
      </a>
</div>

{% endfor %}




{% endblock %}