{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% for pokemon in my_pokemon %}

<div class="pokecard">
<div class="card" style="width: 10rem;" >
    <img src="{{pokemon.shiny}}" class="card-img-top" alt="pokemon logo">
    <div class="card-body">
      <h5 class="card-title">{{pokemon.name}}</h5>
      <p class="card-text">
        Ability: {{pokemon.ability_name}}<br>
        Base Xp: {{pokemon.base_xp}}<br>
        HP: {{pokemon.hp}}<br>
        Attack: {{pokemon.attack}}<br>
        Defense: {{pokemon.defense}}
      </p>
      <h6>Pokedex entry: {{ pokemon.pokedex[0].id}}</h6> 
      <p class="card-text"></p>
    </div>
    
    <a type="button" class="btn btn-danger" href="{{url_for('deletePokemon', pokemon_id=pokemon.id)}}">
      Release
    </a>
  </div>

</div>
  


{% endfor %}


{% endblock %}