{% extends 'base.html'%}
{% block content %}
    <div id="poke_catch">
        <h4 class="white_text">Pokemon Caught!</h4>
        <img src="{{ my_pkmn['shiny'] }}">
        <p class="white_text">Name: {{my_pkmn['Name']}}</p>
        <p class="white_text">Ability: {{my_pkmn['abilityName']}}</p>
        <p class="white_text">Base Experience: {{my_pkmn['baseXP']}}</p>
        <p class="white_text">Attack: {{my_pkmn['attack']}}</p>
        <p class="white_text">Hp: {{my_pkmn['hp']}}</p>
        <p class="white_text">Defense: {{my_pkmn['defense']}}</p>
    </div>
    {% endblock %}